<div id="inventory-view">
    <form action="/searchtrack" method="POST">
        <label for="titleSearch">Title</label>
        <input type="text" id="titleSearch" name="title" required><br>
        <button type="submit">Search</button>
    </form>
</div>